<template name="methodCards">
  <div class="col-sm-8">
    {{#each methods}}
      <div class="method col-sm-6 ">
        <div class="panel panel-default {{validMethod this}}">
          
          <div class="method-io panel-heading {{isSelectedMethod this}}">
          <strong>inputs</strong> 
            {{#each inames}}
              <span class="io label label-{{getcolor this}}">{{this}}</span>
            {{/each}}
          </div>  

          <div class="method-content panel-body">
            <h3 class="panel-title">{{operator}}</h3>
            <p>{{description}}</p>
          </div>
        
          <div class="method-io panel-footer">
            <strong>outputs</strong> 
            {{#each onames}}
              <span class="label label-{{getcolor this}}">{{this}}</span>
            {{/each}}
          </div>

        </div>
      </div>      

    {{/each}}
  </div>
</template>

