body {
  background: #eee;
  color: #666666; }

#main {
  /*position: relative;*/
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }



div.method.panel.col-sm-6:nth-child(odd){
  margin-right:10px;
}
/*  .method:before, .method:after {
    content: "";
    display: table; }
  .method:after {
    clear: both; }
  .method.invisible {
    opacity: 0; }
  .method.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .method.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .method .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
    }
*/

  .method .method-io strong {
    color: #666666;
  }
    
  .method .method-io span.label {
    /*margin: 0 .5em;*/
  }
  
  .method .method-content {
/*    float: left; 
    width: 100%; */
  }

  .disabled-method {
    background-color: rgba(255, 0, 97, 0.47);
  }
    .method .method-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 22px; 
      display: inline;}
      .method .method-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .method .method-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #333; }
    .method .method-content p {
      margin: 0; }


@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
